.main {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
}

.messageIcon {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 100%;
  background-color: white;
  /* margin-top: 40%; */
  /* margin-right: 10%; */
  /* position: relative; */
  /* align-items:flex-end; */
}

.displayChat {
  display: flex;
  width: 100%;
}

.notDisplayChat {
  display: none;
}

.chatRoom {
  display: flex;
  flex-direction: column;
  width: 40%;
}
