/* body{
    overflow-y: hidden;
} */

.messageIcon {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  /* margin-top: 40%; */
  /* margin-right: 10%; */
  /* position: relative; */
  /* align-items:flex-end; */
}

.displayChat {
  display: flex;
}

.notDisplayChat {
  display: none;
}
