.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.header__logoContainer {
  display: flex;
  align-items: center;
}

.header__logoContainer p {
  font-size: 22px;
  color: #5f6368;
  margin-left: 5px;
}

.header__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icons * {
  margin-right: 20px;
  color: #5f6368;
  cursor: pointer;
}

.header__avatar {
  margin-right: -5px !important;
}

.header__TimeDate {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  color: #5f6368;
  margin-right: 12px;
  display: flex;
}

.MuiPopover-paper {
  max-height: calc(100vh - 62px - 100px);
  width: 354px;
  margin-top: 20px;
  margin-right: -10px;
  height: 390px;
}

.home__popoverContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home__popover__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #dadce0;
  width: 120%;
  height: 190px;
}

.home__badge {
  background: #fff;
  color: #5f6368;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.home__Camera {
  width: 17px !important;
  height: 17px !important;
  margin: 4px;
  box-shadow: 0px 1px 1px 0 rgba(65, 69, 73, 0.3),
    0px 1px 3px 1px rgba(65, 69, 73, 0.15);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.home__Camera:hover {
  color: #6ba4f1;
}

.home__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  color: #202124;
}

.home__displayName {
  font-family: "Poppins", sans-serif;
  color: #202124;
  font-weight: 500;
  letter-spacing: -0.2px;
}

.home__mail {
  font-family: "Roboto", sans-serif;
  color: #5f6368;
}

.home__btn {
  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 100px;
  color: #3c4043;
  margin: 16px 0 0;
  max-width: 254px;
  padding: 8px 16px;
  font-family: "Poppins";
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  font-family: "Poppins";
}

.home__btn:hover {
  background-color: #f7f8f8;
}

.home__popover__btm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__addBtn {
  display: flex;
  align-items: center;
  width: 354px;
  border-bottom: 1px solid #dadce0;
  color: #5f6368;
  cursor: pointer;
  font-family: "Poppins";
  padding: 10px;
}

.home__addBtn:hover {
  background-color: #f7f8f8;
}

.home__addIcon {
  margin-left: 40px;
  margin-right: 20px;
}

.home__signOut {
  margin-top: 20px !important;
  color: #5f6368 !important;
  text-transform: capitalize !important;
}

.home__popover__footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 120%;
  align-items: center;
  color: #5f6368;
  justify-content: center;
  border-top: 1px solid #dadce0;
  padding-top: 5px;
}

.home__popover__footer span {
  margin: 10px;
}

@media (max-width: 850px) {
  .header__TimeDate {
    display: none;
  }

  .header__logoContainer p {
    font-size: 20px;
  }
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40vw;
}

.home__right {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.home__image {
  width: inherit;
}

.home__title {
  font-size: 2.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 3.25rem;
  max-width: 500px;
}

.home__subtitle {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  color: #5f6368;
  max-width: 30em;
  padding: 20px 0;
}

.home__buttons {
  margin: 30px 0;
}

.home__createBTN {
  padding: 10px 15px !important;
}

.home__createBTN p {
  margin-left: 5px !important;
  font-weight: 500 !important;
  text-transform: capitalize;
}

.icon {
  color: #5f6368;
}

.home__input .MuiInputBase-root {
  height: 45px !important;
  margin-left: 20px;
}

.home__joinBTN {
  text-transform: capitalize !important;
  margin-left: 15px !important;
  font-size: 1em !important;
  color: #3f51b5 !important;
}

.home__learn {
  letter-spacing: 0.00625em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 1.5em;
  color: #5f6368;
}

.home__learnMore {
  margin-top: 30px;
  color: #2962ff;
  text-decoration: none;
}

