body{
  background-color: #EDF0F5;
  /* width: 400px; */
}

#form {
  background: none;
  /* width: fit-content; */
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  backdrop-filter: blur(10px);
}

#message {
  border: none;
  font-size: 14px;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#message:focus {
  outline: none;
}

#form > button {
  background: #00A389;
  /* transform: rotate(45deg); */
  /* -ms-transform: rotate(-45deg); IE 9 */
  /* transform: rotate(-45deg); */
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.image{
  width: 200px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding-bottom: 4rem;
}

#messages > li {
  padding: 0.5rem 1rem;
}

.my-message {
  background-color: #D0D3E3;
  margin-left: 50%;
  margin-top: 10px;
  border-radius: 8px;
  margin-right: 20px;
  /* width: fit-content; */
}


.received-message {
  background-color: #FFFFFF;
  margin-right: 50%;
  margin-top: 10px;
  border-radius: 8px;
  margin-left: 20px;
  /* width: fit-content; */
}