/* body {
  background-color: #edf0f5;
} */

#form {
  background: none;
  padding: 0.25rem;
  position: fixed;
  bottom: 1px;
  /* right: 10px; */
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%), 0 8px 16px rgb(0 0 0 / 30%);
  backdrop-filter: blur(10px);
  width: 59vh;
}

.textField {
  display: flex;
  /* width: 100%; */
  justify-content: flex-end;
}

#message {
  border: none;
  font-size: 14px;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#message:focus {
  outline: none;
}

#form > button {
  background: #00a389;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.msg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding-bottom: 10rem;
  width: 100%;
}

.my-message {
  margin: 10px;
}

.msg .my-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.received-message {
  margin: 10px;
}

.my-message .msgBody {
  display: flex;
  flex-direction: column;
  background-color: #d0d3e3;
  width: fit-content;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 0px;
}

.received-message .msgBody {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 0px;
}

.chatbox{
  top: 10vh;
  bottom: 10vh;
  width: 100%;
}

.chat-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chatRoomMain {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #edf0f5;
  height: 100vh;
  overflow-y: scroll;
}

.displayEmoji {
  display: flex;
  padding: 0.25rem;
  position: fixed;
  bottom: 4rem;
  right: 8rem;
  /* left: 10px; */
  /* box-sizing: border-box; */
  /* box-shadow: 0 2px 4px rgb(0 0 0 / 30%), 0 8px 16px rgb(0 0 0 / 30%); */
  /* backdrop-filter: blur(10px); */
}

.notDisplayEmoji {
  display: none;
}

.emoji-picker-react {
  background: none !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%), 0 8px 16px rgb(0 0 0 / 30%) !important;
  backdrop-filter: blur(10px) !important;
}

.emoji-search {
  background: none !important;
}

.emoji-group:before {
  background-color: #edf0f5 !important;
}

.emoji-scroll-wrapper {
  background: none !important;
}

.camera {
  display: flex;
}

a {
  color: #00a389;
}

a:hover{
  color: #00705e;
}
